.blue{
    color: red;
    text-decoration: dotted;
}
p{
    color: rgb(223, 221, 216);
    font-size: 20px;
}

#ch{
    color: rgb(255, 153, 0);
    font-family: 'Courier New', Courier, monospace;
}
pitt
{
    color: black;
}